.container{
    
    display: flex;
    justify-content: center;
    margin: 2rem;
}
@media screen and (max-width: 1350px){
    .container{
        flex-direction: column;
        align-items: center;
        
    }
}
.label{
position: relative;
width: 800px;
height: 400px;
color: white;
background-color: #333;
margin: 0 2rem;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.label h1,p{
    margin: 1rem;
}
.ratingPoints{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    width: 50px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 25pt;
    border-radius: 100%;
    text-align: center;

}
.image{
width: 500px;
height: 400px;
}
.rating{
    position: absolute;
    right: 0;
    bottom: 0;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    background-color: #464343;
    width: 50px;
    height: 50px;
}

.rating:hover{
    cursor: pointer;
    background-color: #413f3f;
}.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    z-index: 1;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    background-color: rgba(36, 35, 35);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.modal h1{
    color: white;
    text-align: center;
    padding-top: 100px;
    
}
.modal textarea{
    width: 100%;
    height: 300px;
    background-color: #333;
    margin-top: 20px;
    border: none;
    color: white;
    resize: none;
    border-radius: 10px;
    padding: 5px;
}
.modal label{
    color: white;
    font-size: xx-large;
}
.exitButton{
    cursor: pointer;
    color: white;
    font-size: x-large;
    margin: 10px;
    border-radius: 100%;
    border: none;
    background-color: #333;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
}
.exitButton:hover{
    background-color: #484545;
}
.buttonSubmitInActive{
    background-color: #7b5aca;
    color: white;
    font-size: 20pt;
    width: 200px;
    border: none;
    height: 50px;
    position: absolute;
    border-radius: 10px;
    right: 0;
    bottom: 0;
    margin: 30px;
}
.buttonSubmitInActive:hover{
    cursor: pointer;
    background-color: #6f47cd;
    color: rgb(237, 232, 232);
}